In [1]:
import pandas as pd

In [2]:
# How to iterate over rows in Pandas DataFrame
df = pd.DataFrame({'Name': ['John', 'Jane', 'Bob'], 'Age': [25, 30, 35]})
for index, row in df.iterrows():
    print(index, row['Name'], row['Age'])

0 John 25
1 Jane 30
2 Bob 35

In [3]:
# Different ways to iterate over rows in Pandas DataFrame
df = pd.DataFrame({'Name': ['John', 'Jane', 'Bob'], 'Age': [25, 30, 35]})
for row in df.itertuples():
    print(row.Index, row.Name, row.Age)

0 John 25
1 Jane 30
2 Bob 35

In [4]:
# Selecting rows in pandas DataFrame based on conditions
df = pd.DataFrame({'Name': ['John', 'Jane', 'Bob'], 'Age': [25, 30, 35]})
filtered_df = df[df['Age'] > 30]
print(filtered_df)

  Name  Age
2  Bob   35

In [5]:
# Select any row from a DataFrame using iloc[] and iat[] in Pandas
df = pd.DataFrame({'Name': ['John', 'Jane', 'Bob'], 'Age': [25, 30, 35]})
row_index = 1
selected_row_iloc = df.iloc[row_index]
selected_row_iat = df.iat[row_index, 0]  # Using column index
print(selected_row_iloc)
print(selected_row_iat)

Name    Jane
Age       30
Name: 1, dtype: object
Jane

In [6]:
# Limited rows selection with given column in Pandas
df = pd.DataFrame({'Name': ['John', 'Jane', 'Bob'], 'Age': [25, 30, 35]})
selected_rows = df[df['Age'] < 35][:2]
print(selected_rows)

   Name  Age
0  John   25
1  Jane   30

In [7]:
# Drop rows from the DataFrame based on a certain condition applied to a column
df = pd.DataFrame({'Name': ['John', 'Jane', 'Bob'], 'Age': [25, 30, 35]})
filtered_df = df.drop(df[df['Age'] < 30].index)
print(filtered_df)

   Name  Age
1  Jane   30
2   Bob   35

In [8]:
# Create a list from rows in Pandas DataFrame
df = pd.DataFrame({'Name': ['John', 'Jane', 'Bob'], 'Age': [25, 30, 35]})
row_list = df.values.tolist()
print(row_list)

[['John', 25], ['Jane', 30], ['Bob', 35]]

In [9]:
# Ranking Rows of Pandas DataFrame
df = pd.DataFrame({'Name': ['John', 'Jane', 'Bob'], 'Age': [25, 30, 35]})
df['Rank'] = df['Age'].rank()
print(df)

   Name  Age  Rank
0  John   25   1.0
1  Jane   30   2.0
2   Bob   35   3.0

In [10]:
# Sorting rows in Pandas DataFrame
df = pd.DataFrame({'Name': ['John', 'Jane', 'Bob'], 'Age': [25, 30, 35]})
sorted_df = df.sort_values(by='Age')
print(sorted_df)

   Name  Age
0  John   25
1  Jane   30
2   Bob   35

In [11]:
# Select row with maximum and minimum value in Pandas DataFrame
df = pd.DataFrame({'Name': ['John', 'Jane', 'Bob'], 'Age': [25, 30, 35]})
row_with_max_age = df.loc[df['Age'].idxmax()]
row_with_min_age = df.loc[df['Age'].idxmin()]
print(row_with_max_age)
print(row_with_min_age)

Name    Bob
Age      35
Name: 2, dtype: object
Name    John
Age       25
Name: 0, dtype: object

In [12]:
# Get all rows in a Pandas DataFrame containing a given substring
df = pd.DataFrame({'Name': ['John', 'Jane', 'Bob'], 'Age': [25, 30, 35]})
substring = 'Jo'
filtered_df = df[df['Name'].str.contains(substring)]
print(filtered_df)

   Name  Age
0  John   25

In [13]:
# Convert a column to row name/index in Pandas
df = pd.DataFrame({'Name': ['John', 'Jane', 'Bob'], 'Age': [25, 30, 35]})
df = df.set_index('Name')
print(df)

      Age
Name
John   25
Jane   30
Bob    35

In [14]:
# How to randomly select rows from Pandas DataFrame
df = pd.DataFrame({'Name': ['John', 'Jane', 'Bob'], 'Age': [25, 30, 35]})
random_rows = df.sample(n=2)
print(random_rows)

   Name  Age
2   Bob   35
1  Jane   30