In [1]:
import pandas as pd

In [2]:
# Create a pandas column using a for loop
data = {'Name': ['John', 'Jane', 'Bob'], 'Age': [25, 30, 35]}
df = pd.DataFrame(data)
new_column = []
for index, row in df.iterrows():
    new_column.append(row['Age'] + 1)
df['AgePlusOne'] = new_column
print("1. DataFrame with a new column:\n", df)

1. DataFrame with a new column:
    Name  Age  AgePlusOne
0  John   25          26
1  Jane   30          31
2   Bob   35          36

In [3]:
# How to get column names in Pandas DataFrame
df = pd.DataFrame({'Name': ['John', 'Jane', 'Bob'], 'Age': [25, 30, 35]})
column_names = df.columns.tolist()
print("2. Column names:", column_names)

2. Column names: ['Name', 'Age']

In [4]:
# How to rename columns in Pandas DataFrame
df = pd.DataFrame({'Name': ['John', 'Jane', 'Bob'], 'Age': [25, 30, 35]})
df = df.rename(columns={'Name': 'First Name', 'Age': 'Years'})
print("3. DataFrame with renamed columns:\n", df)

3. DataFrame with renamed columns:
   First Name  Years
0       John     25
1       Jane     30
2        Bob     35

In [5]:
# Get unique values from a column in Pandas DataFrame
df = pd.DataFrame({'Name': ['John', 'Jane', 'Bob', 'John'], 'Age': [25, 30, 35, 25]})
unique_values = df['Name'].unique()
print("4. Unique values from the 'Name' column:", unique_values)

4. Unique values from the 'Name' column: ['John' 'Jane' 'Bob']

In [6]:
# Return the Index label if some condition is satisfied over a column in Pandas DataFrame
df = pd.DataFrame({'Name': ['John', 'Jane', 'Bob'], 'Age': [25, 30, 35]})
index_label = df.loc[df['Age'] > 30].index.tolist()
print("5. Index labels where 'Age' is greater than 30:", index_label)

5. Index labels where 'Age' is greater than 30: [2]

In [7]:
# Create a new column in Pandas DataFrame based on the existing columns
df = pd.DataFrame({'Name': ['John', 'Jane', 'Bob'], 'Age': [25, 30, 35]})
df['AgePlusTen'] = df['Age'] + 10
print("6. DataFrame with a new column based on existing columns:\n", df)

6. DataFrame with a new column based on existing columns:
    Name  Age  AgePlusTen
0  John   25          35
1  Jane   30          40
2   Bob   35          45

In [8]:
# Creating a Pandas dataframe column based on a given condition
df = pd.DataFrame({'Name': ['John', 'Jane', 'Bob'], 'Age': [25, 30, 35]})
df['Category'] = df['Age'].apply(lambda x: 'Young' if x <= 30 else 'Old')
print("7. DataFrame with a new column based on a condition:\n", df)

7. DataFrame with a new column based on a condition:
    Name  Age Category
0  John   25    Young
1  Jane   30    Young
2   Bob   35      Old

In [9]:
# Getting unique values from a column in Pandas DataFrame
df = pd.DataFrame({'Name': ['John', 'Jane', 'Bob', 'John'], 'Age': [25, 30, 35, 25]})
unique_values = df['Name'].drop_duplicates().tolist()
print("8. Unique values from the 'Name' column:", unique_values)

8. Unique values from the 'Name' column: ['John', 'Jane', 'Bob']

In [10]:
# Getting frequency counts of columns in Pandas DataFrame
df = pd.DataFrame({'Name': ['John', 'Jane', 'Bob', 'John'], 'Age': [25, 30, 35, 25]})
frequency_counts = df['Name'].value_counts()
print("9. Frequency counts of the 'Name' column:\n", frequency_counts)

9. Frequency counts of the 'Name' column:
 John    2
Jane    1
Bob     1
Name: Name, dtype: int64

In [11]:
# Split a text column into two columns in Pandas DataFrame
df = pd.DataFrame({'Name': ['John Smith', 'Jane Doe', 'Bob Johnson']})
df[['First Name', 'Last Name']] = df['Name'].str.split(' ', expand=True)
print("10. DataFrame with split text column:\n", df)

10. DataFrame with split text column:
           Name First Name Last Name
0   John Smith       John     Smith
1     Jane Doe       Jane       Doe
2  Bob Johnson        Bob   Johnson

In [12]:
# Get the index of the minimum value in a DataFrame column
df = pd.DataFrame({'Name': ['John', 'Jane', 'Bob'], 'Age': [25, 30, 35]})
index_min = df['Age'].idxmin()
print("11. Index of the minimum value in the 'Age' column:", index_min)

11. Index of the minimum value in the 'Age' column: 0

In [13]:
# Get the index of the maximum value in a DataFrame column
df = pd.DataFrame({'Name': ['John', 'Jane', 'Bob'], 'Age': [25, 30, 35]})
index_max = df['Age'].idxmax()
print("12. Index of the maximum value in the 'Age' column:", index_max)

12. Index of the maximum value in the 'Age' column: 2

In [14]:
# Difference of two columns in Pandas DataFrame
df = pd.DataFrame({'A': [5, 10, 15], 'B': [2, 5, 8]})
df['Difference'] = df['A'] - df['B']
print("13. DataFrame with a column for the difference of two columns:\n", df)

13. DataFrame with a column for the difference of two columns:
     A  B  Difference
0   5  2           3
1  10  5           5
2  15  8           7

In [15]:
# Get n-largest values from a particular column in Pandas DataFrame
df = pd.DataFrame({'Name': ['John', 'Jane', 'Bob'], 'Age': [25, 30, 35]})
n_largest = df.nlargest(2, 'Age')
print("14. n-largest values from the 'Age' column:\n", n_largest)

14. n-largest values from the 'Age' column:
    Name  Age
2   Bob   35
1  Jane   30

In [16]:
# Get n-smallest values from a particular column in Pandas DataFrame
df = pd.DataFrame({'Name': ['John', 'Jane', 'Bob'], 'Age': [25, 30, 35]})
n_smallest = df.nsmallest(2, 'Age')
print("15. n-smallest values from the 'Age' column:\n", n_smallest)

15. n-smallest values from the 'Age' column:
    Name  Age
0  John   25
1  Jane   30

In [17]:
# How to drop one or multiple columns in Pandas DataFrame
df = pd.DataFrame({'Name': ['John', 'Jane', 'Bob'], 'Age': [25, 30, 35], 'Height': [180, 165, 175]})
df = df.drop(['Age', 'Height'], axis=1)
print("16. DataFrame with dropped columns:\n", df)

16. DataFrame with dropped columns:
    Name
0  John
1  Jane
2   Bob